@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 11%; /* #1C1C1C */
    --foreground: 0 0% 95%;

    --card: 0 0% 11%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 267 50% 55%; /* Violet doux */
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 200 100% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 267 50% 55%;

    --radius: 0.5rem;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  /* overscroll-behavior: none; */
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer et Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.kIQkHS {
  min-width: 100% !important;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-white::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar-white::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5em;
}

@keyframes gradientMove {
  0% {
    --x: 30%;
    --y: 30%;
  }
  25% {
    --x: 70%;
    --y: 40%;
  }
  50% {
    --x: 60%;
    --y: 80%;
  }
  75% {
    --x: 20%;
    --y: 60%;
  }
  100% {
    --x: 30%;
    --y: 30%;
  }
}

.shadow-primary {
  text-shadow: 3px 3px 0 hsl(var(--primary));

  @media (max-width: 640px) {
    text-shadow: 2px 2px 0 hsl(var(--primary));
  }
}

@supports (
  (text-stroke: 1px black) or (-webkit-text-stroke: 1.5px hsl(var(--primary)))
) {
  .outline-text-primary {
    color: transparent;
    -webkit-text-stroke: 1.5px hsl(var(--primary));
    text-stroke: 1.5px hsl(var(--primary));
    text-shadow: none;
  }
}
